::selection {
    background-color: purple;
    color: deeppink;
}

::-moz-selection {
    background-color: purple;
    color: deeppink;
}

a {
    color: deepskyblue;
}

p {
    text-align: justify;
}
