<nav class="navbar sticky-top navbar-dark navbar-expand-md nav-underline" style="background-color: #121212;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" (click)="change.page('/')">StormTrack</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">

<!--        {#if mainAccess}-->
        <li class="nav-item">
          <a class="nav-link" (click)="change.page('/main')">Go back to main</a>
        </li>
<!--        {/if}-->

        <li class="nav-item">
          <a class="nav-link" (click)="change.page('/login')">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="change.page('/signup')">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="change.page('/about')">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
<!--        {#if mainAccess}-->
        <li class="nav-item text-end">
          <button class="btn btn-outline-danger" (click)="disconnect()" type="button">Sign out</button>
        </li>
<!--        {/if}-->
      </ul>
    </div>
  </div>
</nav>
