<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h1 class="display-4">User Management</h1>
      <span>Here you can manage all users</span>
    </div>
    <div class="col text-end">
      <a class="btn btn-success" href="/signup">Register new user</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="table-responsive">
      <legend>Registered users</legend>
      <table class="table table-sm table-dark table-hover table-striped table-bordered mt-3">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Profile</th>
        </tr>
        </thead>
        <tbody class="table-group-divider" id="user-table">
        </tbody>
      </table>
    </div>
  </div>
</div>
