<div class="container">
  <div class="row mt-3">
    <h1>A brief history of StormTrack</h1>
  </div>
  <div class="row text-justify mt-3">
    <p>
      This project is a work in progress and was created using
      <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
         href="https://quarkus.io/">Quarkus</a>
      by two web developer students, Vinicius and Rodrigo. Our goal is to provide a free, open-source and online-based
      <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
         href="https://en.wikipedia.org/wiki/Meteorology">meteorological</a> service for everyone, that contains all
      you need without being complicated and messy to use.
    </p>
    <p>
      This website utilizes <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
                               href="https://openweathermap.org/api">OpenWeatherMapAPI</a>, a global weather data
      system and <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
                         href="https://unsplash.com/developers">UnsplashAPI</a>, an image API.
    </p>
  </div>
</div>
