<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- DOCUMENTATION BY RODRIGO -->
    <!-- bootstrap css import -> https://www.w3schools.com/bootstrap5/bootstrap_get_started.php <- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- css containing custom selection color effect -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/request.js" type="application/javascript"></script>
    <script src="/js/warning.js" type="application/javascript"></script>
</head>
<!-- how boostrap works -> https://getbootstrap.com/docs/5.3/layout/breakpoints/ <- -->
<!-- fluid-container -> https://getbootstrap.com/docs/5.3/layout/containers/#fluid-containers <- -->

<!-- padding -> https://www.w3schools.com/css/css_padding.asp <- -->
<!-- color -> https://www.w3schools.com/css/css_text.asp <- -->
<!-- text-bg-dark -> https://getbootstrap.com/docs/5.3/utilities/colors/ <- -->

<!-- text-bg-dark = color-white + background-color-dark-grey -->
<!-- p-5 = padding-5 -->
<body class="text-bg-dark">
<nav class="navbar sticky-top navbar-dark navbar-expand-md nav-underline" style="background-color: #121212;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">StormTrack</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">

                {#if mainAccess}
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Go back to main</a>
                    </li>
                {/if}

                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                {#if mainAccess}
                    <li class="nav-item text-end">
                        <button class="btn btn-outline-danger" onclick="disconnect()" type="button">Sign out</button>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</nav>
<!-- container -> https://getbootstrap.com/docs/5.3/layout/containers/#default-container <- -->
<div class="container">
    <!-- table -> https://www.w3schools.com/html/html_tables.asp <- -->
    <!-- what is tableless concept -> https://en.wikipedia.org/wiki/Tableless_web_design <- -->

    <!-- because bootstrap are tableless, we don't use html table tags (<table>, <th>, <tr>, <td>) -->
    <!-- instead, we use bootstrap's css classes for doing so (.row and .col) -->

    <!-- margin -> https://www.w3schools.com/css/css_margin.asp <- -->
    <!-- first row, text-align-justify, mt-3 = margin-top-3 -->
    <div class="row mt-3">
        <h1>A brief history of StormTrack</h1>
    </div>
    <div class="row text-justify mt-3">
        <p>
            This project is a work in progress and was created using
            <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
               href="https://quarkus.io/">Quarkus</a>
            by two web developer students, Vinicius and Rodrigo. Our goal is to provide a free, open-source and
            online-based
            <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
               href="https://en.wikipedia.org/wiki/Meteorology">meteorological</a> service for
            everyone, that contains all you need without being complicated and messy to use.
        </p>
        <p>
            This website utilizes <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
                                     href="https://openweathermap.org/api">OpenWeatherMapAPI</a>, a global weather
            data system and <a class="link-info link-offset-3 link-underline link-underline-opacity-0
                    link-underline-opacity-75-hover focus-ring focus-ring-info rounded-2 p-1"
                               href="https://unsplash.com/developers">UnsplashAPI</a>, an image API.
        </p>
    </div>
</div>

<!-- bootstrap dependencies import -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<!-- bootstrap js import -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>
