<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beta-007</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="container-fluid p-5 text-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Beta-007</h1>
            </div>
            <div class="col text-end">
                <a class="btn btn-primary" href="/login">Sign in</a>
                <a class="btn btn-primary" href="/about">About</a>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <p>This website provide you an up-to-date weather data for every location you ask for. We're currently running a
                    pre-alfa version.</p>
            </div>
        </div>
    </div>
</body>
</html>
