<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StormTrack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container-fluid p-5 text-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>StormTrack</h1>
            </div>
            <div class="col text-end">
                <a class="btn btn-success" href="/login">Sign in</a>
                <a class="btn btn-primary" href="/register">Sign up</a>

                <a class="btn btn-info" href="/about">About</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="text-justify">
                <p>
                    This website provides you up-to-date weather data for any location you search for. You just need to
                    have an account to use it anytime, and anywhere you want!
                </p>
            </div>
            <div>
                <!-- makes image border rounded (and responsive) -->
                <img class="img-fluid rounded" src="/img/TemperatureMapDemo.png" alt="Temperature Map">
            </div>
            <div class="text-justify">
                <p>
                    Please consider that we are currently running a pre-alfa version, which
                    means there are still a lot of work to be done.
                </p>
                <p>In case you need help to get started, we have this <span onclick="window.location.href='https://trollface.dk/'" style="cursor: pointer; color: deepskyblue">step-by-step guide on how to navigate on our website.</span></p>

            </div>
        </div>
    </div>
</body>
</html>
