<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    <script src="/js/login.js" type="application/javascript"></script>
</head>
<body class="container-fluid text-bg-primary p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary" href="/">Home</a>
            </div>
            <div class="col text-end">
                <h1>StormTrack</h1>
            </div>
        </div>
        <div class="row">
            <!-- forms -> https://www.w3schools.com/html/html_forms.asp <- -->
            <form class="mt-3">
                <h1>Sign in</h1>
                <!-- margin-bottom-3 -->
                <div class="mb-3">
                    <!-- form control -> https://getbootstrap.com/docs/5.3/forms/form-control/ <- -->
                    <label class="form-label" for="email">Email</label> <br>
                    <input class="form-control-sm" id="email" type="email" placeholder="Insert your email.">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label> <br>
                    <input class="form-control-sm" id="password" type="password" placeholder="Insert your password.">
                </div>

                <!-- non-outline bootstrap "success" and "secondary" buttons -->
                <!-- the "clearFields()" function just fill all input fields with empty quotation marks -->
                <button class="btn btn-success" onclick="register()" type="button" id="submit-button">Next</button>
                <button class="btn btn-secondary" onclick="clearFields()" type="button">Clear fields</button>

                <!-- here the user can create a brand-new account, if they don't have one -->
                <!-- currently, we don't have such feature, so the register page works exactly like this file -->
                <!-- in other words, all the register page does is sign in, rather than creating a new account, as is proposed -->
                <p class="form-text-white">
                    Don't have an account?<br>
                    Click <span onclick="window.location.href='/register';"
                            style="cursor: pointer; color: deepskyblue; text-decoration: underline">here</span> to create one.
                </p>
            </form>
        </div>
    </div>
</body>
</html>
