<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" type="application/javascript"></script>
</head>
<body>
    <h1>teste</h1>
    <form>
        <label for="email">email</label>
        <input id="email" type="email"><br>

        <label for="senha">senha</label>
        <input id="senha" type="password"><br>

        <button onclick="cadastrar()" type="button">Next</button>
    </form>
</body>
</html>
