<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StormTrack - A complete, online-based meteorological service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/request.js" type="application/javascript"></script>
    <script src="/js/script.js" type="application/javascript"></script>
    <script src="/js/warning.js" type="application/javascript"></script>
</head>
<body class="text-bg-dark">
<nav class="navbar sticky-top navbar-dark navbar-expand-md nav-underline" style="background-color: #121212;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">StormTrack</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">

                {#if activityAccess}
                    <li class="nav-item">
                        <a class="nav-link" href="/activity">Activity</a>
                    </li>
                {/if}

                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li>

                {#if userManagement}
                    <li class="nav-item">
                        <a class="nav-link" href="/userManager">User Manager</a>
                    </li>
                {#else}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup/">Sign up</a>
                    </li>
                {/if}
                {#if profileManagement}
                    <li class="nav-item">
                        <a class="nav-link" href="/profileManager">Profile Manager</a>
                    </li>
                {/if}

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item text-end">
                    <button class="btn btn-outline-danger" onclick="disconnect()" type="button">Sign out</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-3">
        <h1 class="display-5">Welcome to StormTrack</h1>
        <p>Just insert the city name below, and we'll show you weather-related data</p>
    </div>
    <div class="row mt-3">
        {#if mainAccess}
            <div class="col">
                <label class="form-label" for="city">City</label>
                <input class="form-control" id="city" type="text" placeholder="Search for a city's name here."> <br>

                <button class="btn btn-success mt-3" onclick="getOpenWeatherData()" type="button">Continue</button>
                <button class="btn btn-secondary mt-3" onclick="clearFields()" type="button">Clear field</button>
            </div>
            <div class="col">
                <div id="weatherPanel">
                </div>
            </div>
        {/if}
    </div>
</div>
</body>

<!-- bootstrap dependencies import -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<!-- bootstrap js import -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</html>
