<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/request.js" type="application/javascript"></script>
    <script src="/js/profileManager.js" type="application/javascript"></script>
    <script src="/js/warning.js" type="application/javascript"></script>
</head>
<body class="text-bg-dark">
<nav class="navbar sticky-top navbar-dark navbar-expand-md nav-underline" style="background-color: #121212;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">StormTrack</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Go back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item text-end">
                    <button class="btn btn-outline-danger" onclick="disconnect()" type="button">Sign out</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1 class="display-4">Profile Management</h1>
            <span>Here you can manage all profiles</span>
        </div>
        <div class="col text-end">
            <a class="btn btn-success" href="/profile">Register new profile</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="table-responsive">
            <table class="table table-sm table-dark table-hover table-striped table-bordered mt-3">
                <legend>Registered profiles</legend>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Main Access</th>
                        <th>Activity Access</th>
                        <th>User Management</th>
                        <th>Profile Management</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="profile-table">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- bootstrap dependencies import -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<!-- bootstrap js import -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>
