<div class="container">
  <div class="row mt-3">
    <h1>Activity History</h1>
    <p>Here you can see our log. With that information, you can see what has been done on our website</p>
  </div>
  <div class="row mt-3 table-responsive">
    <table class="table table-sm table-dark table-hover table-striped table-bordered mt-3">
      <thead>
      <tr>
        <th>IP</th>
        <th>Date</th>
        <th>Name</th>
        <th>Activity</th>
      </tr>
      </thead>
      <tbody class="table-group-divider" id="activity-table">
      </tbody>
    </table>
  </div>
</div>
