<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h1 class="display-4">Profile Management</h1>
      <span>Here you can manage all profiles</span>
    </div>
    <div class="col text-end">
      <a class="btn btn-success" href="/profile">Register new profile</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="table-responsive">
      <table class="table table-sm table-dark table-hover table-striped table-bordered mt-3">
        <legend>Registered profiles</legend>
        <thead>
        <tr>
          <th>Name</th>
          <th>Main Access</th>
          <th>Activity Access</th>
          <th>User Management</th>
          <th>Profile Management</th>
        </tr>
        </thead>
        <tbody class="table-group-divider" id="profile-table">
        </tbody>
      </table>
    </div>
  </div>
</div>
